survey.input              	# include number of measurements, survey mode, source points, measurement points

sigma.file			# Model parameters

5	                         # max AMR iterations

0                                # the type of amr,0: num ratio;  1: relative error

0.01                    	# marking parameter [0,1] 

5000000                          # max degrees of freedom

mumps                            # select a solver from [mumps ilu]

1                           	# 0-don't save mesh; 1-save mesh

peak4cube.msh               # mesh file

false				# whether to compute P2 variant

true				# whether to compute J vector

true				# false: use standard goal-oriented adaptive FEM algorithm; true: Improved-GAFEM		
